$primary: #434343
$primary-dark: #343A40
$primary-shade: #343434
$accent: #17A2B8
$accent-dark: #138496
$comment-background: #343A40
$comment-border: #999

body
  background-color: $primary-dark
  color: #EFEFEF
  .header-top
    background-color: $primary-shade
  .main
    padding: 10px 30px
    a
      color: $accent
      text-decoration: none
      &:hover
        color: $accent-dark
    h1, h2
      color: $accent
  .field_with_errors
    label
      color: #d01612
    input, textarea
      border-color: #d01612
  .bg-dark
    background-color: $primary-shade !important
  .products_list
    background-color: #B00100